body #Top{
    margin-right: 10px;
    max-width: 100%;
}
#Top .header .fas{
    margin-left: 99px;
    margin-right: 44%;
}
#Top .gridnav {
    background-color: black;
}
#Top .gridnav a{
    text-decoration: none;
    color: aliceblue;
}
#Top #photo #poto{
    background-image: url(esther-tuttle-4_3Nyq8ppnA-unsplash.jpg);
    background-size: cover;
     background-position: 100%;
    height: 200px;
}
#Top #photo #photo{
    background-image: url(esther-tuttle-4_3Nyq8ppnA-unsplash.jpg);
    background-size:cover;
     background-position: 60%;
    height: 500px;
}
#Top #photo #photo h1 {
    color: aliceblue;
    text-align: center;
}
#Top #photo #photo button{
    background-color: black;
    border-color: black;
    margin-left: 44%;
}
#Top .gridphoto .robe{
    background-image: url(onur-senay-7nlNKstkgvE-unsplash.jpg);
    height: 500px;
    width: 250px;
    background-size: cover;
    text-align: center;
    margin-top: 45px;
}
#Top .gridphoto .lingerie{
    background-image: url(alexander-mass-QdBnyE7OmkQ-unsplash.jpg);
    height: 500px;
    width: 250px;
    background-size: cover;
    text-align: center;
    margin-top: 45px;
}
#Top .gridphoto .chemise{
    background-image: url(ksenia-gord-J_EbCaTdMLY-unsplash.jpg);
    height: 500px;
    width: 250px;
    background-size: cover;
    text-align: center;
    margin-top: 45px;
}
#Top .gridphoto .accessoires{
    background-image: url(nghia-do-thanh-itdBenVVm3g-unsplash.jpg);
    height: 500px;
    width: 250px;
    background-size: cover;
    text-align: center;
    margin-top: 45px;
}
#Top .gridphoto p{
    margin-top: 79%;
    color: aliceblue;
}
#Top #nav h2{
    margin-top: 55px;
    background-image: url(timur-romanov-xUwThX4SHew-unsplash.jpg);
    height: 200px;
    background-size: cover;
}
#Top #nav h3{
    background-image: url(timur-romanov-xUwThX4SHew-unsplash.jpg);
    background-position: 60%;
     background-size: cover;
    height: 500px;
}
#Top .gridbas img{
    size: 100%;
    margin-left: 50px;
}
#Top .gridbasbas .top-half{
    height: 50%;
    overflow: hidden;
}
#Top .gridbasbas .top-half img{
    width: 100%;
    height:auto;
    display: block;
}
#Top .photo{
    background-image: url(esther-tuttle-4_3Nyq8ppnA-unsplash.jpg);
    height: 350px;
    width:auto;
     background-size: cover;
    margin-top: 55px;

}
#Top .photo p{
    text-align: center;
    color: aliceblue;
     margin-top: 200px;
}
#Top .photo .petit{
    margin-top: 200px;
}
#Top .gridbasss img{
    height: 500px;
    margin-top: 50px;
}
#Top .gridtext .text{
    margin-left: 160px;
}
#second .petit{
    background-image: url(ksenia-gord-J_EbCaTdMLY-unsplash.jpg);
    background-size: cover;
    height: 12cm;
    background-position: 100%;
}


